.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.linkChapter {
  text-decoration: none;
  color:inherit;
}

/* Primero declaramos a @font-face una nueva font y luego lo llamamos a donde requiera */
/* https://dev.to/annequinkenstein/adding-fonts-to-create-react-app-3ed7 */ 


@font-face {
  font-family: 'FamilyGuy';
  src: local('FamilyGuy'), url(./fonts/family.guy.ttf) format('truetype');
}

.App-link {
  font-family: 'FamilyGuy';
  color: #00a0d4;
  text-decoration: none;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 650px) {

  .Movie{
    width: 100%;
    height: 35vh;
  }

}